
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Country Harvest</title>
</head>
<body>
<ul>
{{$x:= .States}}
{{$y := .Yeilds}}
    <li>{{$x}} - {{$y}}</li>
</ul>
</body>
</html>