<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food and States</title>
</head>
<body>

<ul>
    {{range .States}}
    <li>{{.State}} - {{.Yeild}}</li>
    {{end}}
</ul>

<ul>
    {{range .Foodplnt}}
    <li>{{.Manufacturer}} - {{.Food}} - {{.Type}}</li>
    {{end}}
</ul>

</body>
</html>